<!--<p>-->
  <!--user-list-view works!-->
<!--</p>-->
<h1>Client Access</h1>

  <div id="clients">
    <h3> Client's login</h3>
    <select [(ngModel)]="selectedClient" name="level">
      <option *ngFor = "let client of clients"> {{client.mail}}</option>
    </select>
  </div>



  <div id="products" *ngIf="selectedClient">

       <h3> Available Products</h3> <img src="http://www.mypanier.fr/bundles/ecommerce/images/friseLegumes.png" height="50" width="200"/>

    <ol>
      <li *ngFor="let product of products"> {{product.name}}</li>
    </ol>
    <button id="basket" > <img src="http://miam-images.m.i.pic.centerblog.net/50ead7c8.png" height="30" width="30"/> </button>


    <h3> Choose a date </h3>
      <select [(ngModel)]="selectedDate" name="level">
    <option *ngFor = "let date of dates"> {{date.day}} : {{date.open}} - {{date.close}}</option>
    </select>
    <br>
    <br>
    <br>

    Your Pick Up Date <!-- and Price to be payed-->
    <h4>  {{selectedDate}}</h4>
    <!--<h4>{{commend.getPrice}}</h4>-->

  </div>

<div id="contact">
  <h4>Contact</h4>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5lRyKc8oPnffT6XgKTAkCxnqObZU_DtI5nsZYOJ0HMNL4Tt9g" height="60" width="60"/>
  <br>
  <a href="https://www.aelion.fr/" target="_blank">
  95 Chemin de Gabardie <br> 31200 Toulouse <br> 05 61 49 42 60 </a>
</div>

