<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="">


<h1>Farmer Access <font color="red"> Restricted </font></h1>
<button id="#farmer" (click)="pageService.toggle()">Return</button>
<h2 id="roland"> ~ Welcome <font color="#006400"> Roland </font> ~ </h2>

<h3> Orders in Progress </h3>
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<br>-->
<!--<div>-->
  <!--<button type="button" (click)="changeShowStatus()">show/hide</button>-->
  <!--<div class="box" *ngIf="showHide">-->
    <!--<p>some content</p>-->
  <!--</div>-->
<!--</div>-->

<!--<br>-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
This is your command of the week :
<div id="command">

  <div class="box" *ngIf="showHide">
  <ul>
    <li> client and pick-up date : {{pageService.data}} </li>
    <li> products choosen: {{pageService.myProducts}}</li>
  </ul>
    <button type="button" (click)="changeShowStatus()">Done</button>
  </div>
  <!--<input type="checkbox" id="SelectTask" name="OK" value="newsletter"> <label>is Done</label>-->

</div>

<!--<div id="clients">-->
  <!--<table>-->
    <!--<th *ngFor="let client of clients">-->
      <!--<a href="#{{client.id}}" (click)="detailsC(client)"> {{client.mail}}-->
      <!--</a>-->
    <!--</th>-->
    <!--<tr>-->
      <!--<td *ngFor="let client of clients">-->
        <!--<input type="checkbox" id="SelectTask" name="OK" value="newsletter"> <label>is Done</label>-->
      <!--</td>-->
    <!--</tr>-->
  <!--</table>-->
  <!--<ul *ngFor="let product of selectedClient?.products">-->
    <!--<li>{{product.name}} ({{product.price}} $/kg)</li>-->
  <!--</ul>-->
<!--</div>-->

<h3> Your Products </h3>
<div id="products">
  <table>
    <tr *ngFor="let product of products">
      <td> {{product.name}}</td>
      <td> $ {{product.price}} </td>
    </tr>
  </table>
</div>
<br>

Name*:
<input type="text" name="productName" placeholder="enter a product" [(ngModel)]="createdProduct.name" aria-required="true"
       required>
Price*:
<input type="number" name="productPrice" placeholder="enter a number" [(ngModel)]="createdProduct.price" required
       aria-required="true">
<button (click)="createProduct()" [disabled]="createdProduct.name?.length<2"> +</button>
<button (click)="deleteProduct()" [disabled]="createdProduct.name?.length<2"> -</button>


<h3> Your Availabilities </h3>
<div id="dates">
  <ul>
    <li *ngFor="let date of dates"> {{date.day}} : {{date.open}} - {{date.close}}</li>
  </ul>
</div>
<br>
<!--<div *ngFor="let o of pageService.data">-->
  <!--{{o.selectedDate}} :: {{o.selectedClient}}-->
<!--</div>-->




<!--Day*:-->
<!--<input type="text" name="dateDay" placeholder="enter a day" [(ngModel)]="createdDate.day" required aria-required="true">-->
<!--Open*:-->
<!--<input type="text" name="dateOpen" placeholder="00:00" [(ngModel)]="createdDate.open" required aria-required="true">-->
<!--Close*:-->
<!--<input type="text" name="dateClose" placeholder="00:00" [(ngModel)]="createdDate.close" required aria-required="true">-->
<!--<button (click)="createDate()" [disabled]="createdDate.day?.length<2"> + </button>-->
<!--<button (click)="deleteDate()" [disabled]="createdDate.day?.length<4"> - </button>-->
</body>
</html>
